<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="<%= htmlWebpackPlugin.files.css %>" rel="stylesheet">
</head>
<body>
    
    <% for ( let i = 0; i < htmlWebpackPlugin.files.js.length; i++) { %>
        <% const arraySplited = htmlWebpackPlugin.files.js[i].split("/")[3].split(".") %>
        <% if (arraySplited.includes("lk") || arraySplited.includes("vendors")) { %>
          <script src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
        <% } %>
    <% } %>
</body>
</html>